# CURSO DE CAPACITACIÓN : Python aplicado a ciencia de datos

Dr. Edwin Villanueva (ervillanueva@pucp.edu.pe),

# TUTORIAL DE INTRODUCCION A PYTHON


<b>Contenido</b>:
- [Tipos Básicos de Variables](#variables)
- [Operadores](#operadores)
- [Colecciones](#colecciones)
- [Control de flujo](#flujo)
- [Funciones](#funciones)

<a name='variables'></a>
## <font color=blue>TIPOS BASICOS DE VARIABLES</font>

Las variables son "etiquetas" que permiten hacer referencia a los datos. Los nombres de variables válidos en Python debe ajustarse a las tres reglas siguientes:

* La variable puede ser una secuencia seguida de letras y dígitos.
* La secuencia debe empezar con una letra (no inicia núnca con un número).
* Además de a.. z, y A.. Z, el guión bajo (_) es una letra.

### Variables numericas

**Enteros**: Son aquellos números positivos o negativos que no tienen decimales.
Se representa mediante el tipo ***int*** (abrev. de entero).

In [1]:
entero = 10
print(entero)
type(entero)

10

int

**Reales**: Los números reales son los que tienen decimales. En Python se expresan mediante el tipo ***float***.

In [2]:
real = 0.3403
print(real)
type(real)

0.3403

float

**Números Complejos**: son una extensión de los números reales pero contienen la parte imaginaria. En Python se expresan mediante el tipo ***complex***.

In [3]:
z = 2 + 3j
print(z)
type(z)

(2+3j)

complex

### Booleanos
Son representaciones a nivel binario. Una variable de tipo booleano sólo puede tener dos valores: True (cierto) y False (falso). Estos
valores son muy importantes para las expresiones condicionales y los bucles.
Valores booleanos se representan mediante el tipo ***bool***.

In [4]:
b = True
print(b)
type(b)

True

bool

### Cadenas
Las cadenas no son más que texto encerrado entre comillas simples
(‘cadena’) o dobles (“cadena”). Dentro de las comillas se pueden
añadir caracteres especiales escapaciándolos con: \, \n (carácter de
nueva línea), o \t ( caracter de tabulación).

In [5]:
# crea una cadena y la imprime
cadena = "hola mundx"
print(cadena)

hola mundx

In [6]:
# tipo de la variable cadena
type(cadena)

str

In [7]:
# imprime longitud de la cadena
print(len(cadena))

10

In [8]:
cadena[0]

'h'

In [9]:
# imprime primer caracter de la cadena
print( cadena[0] )

h

In [10]:
# crea una cadena de multiples lineasla imprime
cadena = """Hola
            mundo"""
print(cadena)

Hola
            mundo

### None
None representa ningun valor

In [11]:
# No value
a = None
print(a)

None

In [12]:
type(a)

NoneType

<a name='operadores'></a>
## <font color=blue> OPERADORES</font>

### Operadores aritméticos

![Tabla1.png]()

In [13]:
8**2  # 8 al cuadrado

64

In [14]:
11/3   # division

3.6666666666666665

In [15]:
11//3   # division entera

3

In [16]:
11%3   # residuo (modulo) de la division

2

### Operadores booleanos

![Tabla2.png]()

In [17]:
7 > 2

True

In [18]:
"Hola" == "hola"

False

In [19]:
a = 3.0
b = 3.1
c =  b != a    # asigna a c el resultado de la comparacion booleana   a != b

In [20]:
print(c)

True

<a name='colecciones'></a>
## <font color= blue>COLECCIONES </font>

<a name='colecciones'></a>
###Listas
 Listas son colecciones ordenadas de items.

* Para accesar a los elementos se coloca el nombre de la lista seguido del indice del item en colchetes ([ ]). El primer item es el indice 0.

* La longitud de la lista de puede obtener con la funcion <b>len()</b>.

* Las listas son mutables (se puede cambiar los items).

* Las cadenas de caracteres son listas de caracteres inmutables

In [21]:
# crea una lista llamada 'milista' con 4 items. El cuarto item es una cadena
milista = [1, 2, 3, "hola"]
print(milista)

[1, 2, 3, 'hola']

In [22]:
# muestra el primer item de la lista milista
print( milista[0] )

1

In [23]:
# muestra la longitud (numero de items) de la lista milista
print( len(milista) )

4

In [24]:
# imprime elemento por elemento de la lista
for item in milista: # imprime elemento por elemento de la lista
    print (item)

1
2
3
hola

In [25]:
# cambia el primer elemento de la lista
milista[0] = 3
print(milista)

[3, 2, 3, 'hola']

In [26]:
# añade un item al final de la lista
milista.append(33)
print(milista)    # imprime la lista

[3, 2, 3, 'hola', 33]

In [27]:
# crea una nueva lista (otralista) y la anexa como item a la lista milista
otralista = [ 7, 8, 9]
milista.extend(otralista)
print(milista)

[3, 2, 3, 'hola', 33, 7, 8, 9]

In [28]:
# extiende la lista milista  con los elementos de una segunda lista (otralista)
otralista = [ 50, 60, 70]
milista.extend(otralista)
print(milista)

[3, 2, 3, 'hola', 33, 7, 8, 9, 50, 60, 70]

In [29]:
# borra el segundo elemento de milista
del milista[1]
milista

[3, 3, 'hola', 33, 7, 8, 9, 50, 60, 70]

In [30]:
# lista de listas (matriz de 2 dimensiones)
a = [[77, 68, 86, 73], [96, 87, 89, 81], [70, 90, 86, 81]]
print(a[1][1])

87

### Tuplas
 Son colecciones de items inmutables (de solo lectura). Se especifica  los items separados por coma (parentesis es opcional).

In [31]:
a = (1, 2, 3)
print (a)

(1, 2, 3)

In [32]:
type(a)

tuple

In [33]:
a = (1,)  # una tupla singleton con un entero

In [34]:
type(a)

tuple

In [35]:
b = ('hola',)  # una tupla singleton con un string

El acceso a un item de la tupla se hace similar al caso de listas

In [36]:
a = (1, 2, 3)
a[1]   # retorna el segundo elemento de la tupla

2

In [37]:
# No se puede cambiar los items de una tupla (son inmutables)
# a[1] = 10

In [38]:
# Sin embargo, elementos de la tupla que son listas si podrian ser actualizados
x = ( 2, [5,6], "hola" )

x[1][1] = 8   # el segundo item de la tupla x es una lista, podemos cambiar sus elementos
x

(2, [5, 8], 'hola')

Los elementos de la tupla se pueden <b>desempacar</b> en variables

In [39]:
tupla_estudiante = ('Maria', [15, 12, 16])
nombre, notas = tupla_estudiante
print(nombre)
print(notas)

Maria
[15, 12, 16]

### Diccionarios
 Son estructuras que almacenan entradas (pares <b>clave:valor</b>). Las claves (<b>keys</b>) deben ser valores inmutables (como strings y tuplas) y no duplicados. Los valores (<b>values</b>) pueden ser cualquer tipo de Python

In [40]:
# Crea un diccionario con 3 entradas (pares clave:valor). Las claves son nombres y los valores edades
dic_edades = {'Maria': 25, 'Jose': 28, 'Pedro': 35}
print(dic_edades)

{'Maria': 25, 'Jose': 28, 'Pedro': 35}

In [41]:
# Recupera el valor (edad) de la entrada cuyo key es 'Jose'
dic_edades['Jose']

28

In [42]:
# altera el valor del key 'Jose'
dic_edades['Jose'] = 30
print(dic_edades)

{'Maria': 25, 'Jose': 30, 'Pedro': 35}

In [43]:
# recupera todas las claves del diccionario dic_edades
dic_edades.keys()

dict_keys(['Maria', 'Jose', 'Pedro'])

In [44]:
# recupera todos los valores del diccionario
dic_edades.values()

dict_values([25, 30, 35])

In [45]:
# recupera todos los items (pares key:value)
dic_edades.items()

dict_items([('Maria', 25), ('Jose', 30), ('Pedro', 35)])

<a name='flujo'></a>
## <font color=blue>CONTROL DE FLUJO</font>

### Sentencias condicionales

Condicionales <b>if ... else</b> ejecuta las lineas de codigo que estan identadas debajo del if si la condicion es True, caso contrario ejecutta las acciones que estan identadas debajo del del else  

Condicionales <b>if ...elif...else</b> ejecuta las acciones debajo del if o elif que cumpla la condicion, caso contrario ejecutta las acciones del else

In [46]:
# Pide un valor numerico al usuario y lo compara en los condicionales
valor = int(input('¿Cual es tu edad?: '))

if 0 <= valor <= 20:
  print('Eres muy joven')
elif 20 < valor <= 40:
  print('Eres joven aun')
elif 40 < valor <= 60:
  print('Tu experiencia es valiosa')
else:
  print('Tienes mucho que enseñarnos')

Eres joven aun

In [47]:
# Pide un string al usuario y lo compara en los condicionales
valor = str(input('¿Quien es el mejor jugador de la seleccion? '))
if valor == "Paolo Guerrero":
    print(f'Estoy de acuerdo')
else:
    print('respeto tu opinion')

respeto tu opinion

### Bucle <b>While</b>
repite la accion o grupo de acciones mientras se mantenga la condicion

In [48]:
# ejecuta las lineas debajo del while mientras i sea menor a 10
i = 0

while i < 10:
  i = i + 1   # esta sentencia se puede abreviar como i += 1
  print(i)

print('fin')

1
2
3
4
5
6
7
8
9
10
fin

### Bucle <b>For</b>
repite una accion o conjunto de acciones para cada item en la secuencia de items. Estas secuencias pueden ser listas o  iterables construidos con la funcion <b>range()</b>

In [49]:
# recorre una lista con for e imprime sus items
milista = ["hola", "¿como estas?", "adios"]
for item in milista:
    print(item)

hola
¿como estas?
adios

In [50]:

dic_edades

{'Maria': 25, 'Jose': 30, 'Pedro': 35}

In [51]:
dic_edades.items()

dict_items([('Maria', 25), ('Jose', 30), ('Pedro', 35)])

In [52]:
# recorre un diccionario con for e imprime sus items
for nombre, edad in dic_edades.items():
    print("Edad de {}: {}".format(nombre, edad))
    print(f"Edad de {nombre}: {edad}")

Edad de Maria: 25
Edad de Maria: 25
Edad de Jose: 30
Edad de Jose: 30
Edad de Pedro: 35
Edad de Pedro: 35

In [53]:
range(1,11)

range(1, 11)

In [54]:
# recorre bucle for usando el iterador range()
for i in range(10):
    print("valor de i=", str(i))

valor de i= 0
valor de i= 1
valor de i= 2
valor de i= 3
valor de i= 4
valor de i= 5
valor de i= 6
valor de i= 7
valor de i= 8
valor de i= 9

Note que range(i)  genera una secuencia iterable de enteros entre 0 y i-1  (no incluye i). Se puede modificar el valor de inicio y los pasos, pasando como parametros a <b>range(inicio, maximo, pasos)</b>

In [55]:
# bucle for donde el iterador genera una secuencia iniciando en 5 hasta 25 y en pasos de 2
for i in range(5, 25, 2):
    print("valor de i=", str(i))

valor de i= 5
valor de i= 7
valor de i= 9
valor de i= 11
valor de i= 13
valor de i= 15
valor de i= 17
valor de i= 19
valor de i= 21
valor de i= 23

La sentencia <b>break</b> termina la ejecucion del bucle for o while mas interno:

In [56]:
# Dos for anidados iterando de 0 a 4. Cuando la suma de los iteradores es 3 rompe el loop interno
for i in range(5):
    for j in range(5):
        if (i + j) == 3:
            break    # rompe el for interno cuando i+j es igual a 3
        print ("i=", str(i), ", j=", str(j))

i= 0 , j= 0
i= 0 , j= 1
i= 0 , j= 2
i= 1 , j= 0
i= 1 , j= 1
i= 2 , j= 0
i= 4 , j= 0
i= 4 , j= 1
i= 4 , j= 2
i= 4 , j= 3
i= 4 , j= 4

La sentencia <b>continue</b> termina la ejecucion de la iteracion actual en el bucle for o while mas interno y continua con la siguiente iteracion:

In [57]:
# itera de 0 a 7. Cuando el iterador es 4 se salta a la siguiente iteracion sin imprimir
for i in range(8):
    if i == 4:
        continue
    print(i)

0
1
2
3
5
6
7

<a name='funciones'></a>
## <font color=blue>FUNCIONES</font>

Una <b>función</b> es un fragmento de código con un nombre asociado que realiza una tarea especifica y devuelve un valor. El programador puede especificar <b>argumentos</b> (valores que se le pasan a la funcion) para realizar la tarea. Si el programador no especifica un valor de retorno la función devuelve el valor None (nada)

In [58]:
dict: b = {}

In [59]:
a = "35"

In [60]:
type(a)

str

In [61]:
d = "35"

In [62]:
def moon_weight(earth_weight: float) -> str:
    return f'On the moon, you would weigh {earth_weight} kilograms.'

In [63]:
moon_weight("45")

'On the moon, you would weigh 45 kilograms.'

In [64]:
moon_weight(45)

'On the moon, you would weigh 45 kilograms.'

In [65]:
int: d = "25"

In [66]:
type(d)

str

In [67]:
a = str(35)

In [68]:
type(a)

str

In [69]:
# Define  funcion que suma sus argumentos x, y
def suma(x, y):
    print(x + y)
    return x + y

In [70]:
# Prueba la funccion suma que se acaba de definir
resultado = suma(1, 3)
print(resultado)

4
4

Se puede tambien pasar los nombres de los argumentos en cualquier orden

In [71]:
# define una funcion que calcula el area de un rectangulo dados su largo y alto
def area_rectangulo(largo, alto):
     return largo * alto

In [72]:
area_rectangulo(alto=5, largo=10)

50

Se puede tambien tener una lista de argumentos de tamaño arbitrario

In [73]:
def promedio(*args):
    return sum(args) / len(args)

In [74]:
promedio(5, 10, 15, 20, 25)

15.0

In [75]:
promedio(5, 10, 15)

10.0